[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.70.0"
sqlalchemy = "==1.4.26"
psycopg2-binary = "==2.9.1"
fastapi-jwt-auth = "*"

[dev-packages]
black = "==21.9b0"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pipenv = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
